.down-arrow-blue {
    position:relative;

    &::after {
        content: '▼';
        background-color: transparent;  
        color: var(--color-blue);
        position: absolute;  
        transform: scale(4, 2);
        z-index: 100;
        bottom: -16px;
        left: calc(50% - 8px);
     
    }

}

